/* -------------------Our Features----------------------------- */
.features {
  padding-bottom: 0;
}
.features__title {
  display: none;
}

.features__list {
  margin-left: calc(-1 * #{$project-item-gap});
  margin-top: calc(-1 * #{$project-item-gap});
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.features__item {
  margin-left: $project-item-gap;
  margin-top: $project-item-gap;
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - #{$project-item-gap});
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - #{$project-item-gap});
  }
}
.features__item-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $title-color;
}
.features__thumb {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $background-section;
  border-radius: 4px;
  margin-bottom: 30px;
  height: 120px;
}
