/* --------------------------------Header--------------------------------------------- */
.header {
  position: relative;
  width: 100%;
  background-color: $header-color;
  border-bottom: 1px solid #ececec;
  // max-width: 1600px;
  height: 60px;
  @media screen and (min-width: 760px) {
    height: 80px;
  }
  margin: 0 auto;
}

.nav-holder {
  min-height: 60px;
  max-height: 80px;
  display: flex;
  align-items: center;
  // justify-content: flex-end;

  .header__navigation {
    @media screen and (max-width: 767px) {
      display: none;}
      @media screen and (min-width:768px) {
    display: flex;
    /* выравниваем относительно поперечной оси, то есть высоты*/
    align-items: center;
    /*растягиваем по нужным сторонам  */
    justify-content: center;
  }

  .header__logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    word-spacing: -6px;
    padding-top: 24px;
    padding-bottom: 25px;
    }
  }
  .header__web {
    color: $main-accent-color;
  }
  .header__studio {
    color: $logo-color;
  }

  .header__list .list {
    display: none;
    @media screen and (min-width: 768px) {
      display: flex;
      margin-left: 93px;
    }
  }
  .header__item:not(:last-child) {
    margin-right: 40px;
  }

  .header__link {
    padding: 48px 40px;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    text-align: center;
    letter-spacing: 0.02em;
    color: $title-color;
    transition: color 250ms $timing-function;
    &:hover,
    &:focus {
      color: $main-accent-color;
    }
    @media screen and (min-width: 768px) {
      display: flex;
      padding-top: 32px;
      padding-bottom: 32px;

      font-size: 14px;
      line-height: 1.14;
      /* decore */
      position: relative;
      &.underline::after {
        content: "";
        width: 100%;
        height: 4px;
        background-color: $main-accent-color;
        border-radius: 2px;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
  }

  .header__contacts-list {
    margin-left: auto;
    // @media screen and (max-width: 767px) {
    //   display: none;
    // }
    // @media screen and (min-width: 768px) {
    //   display: flex;
    // }
  }

  .header__contacts {
  padding-top: 21px;
  display: block;
  @media screen and (max-width:767px) {
    .header__contacts:not(:last-child) {
       margin-bottom: 32px;
}
    
  }
  @media screen and (min-width:768px){
   padding-top: 32px;
  padding-bottom: 32px;
    display: flex;
    align-items: center;
    & + & {
      margin-left: $project-item-gap;
    }
  }
    // @media screen and (max-width: 767px) {
    //   display: none;}
  }

.header__contacts-list .link {
  font-weight: 500;
font-size: 24px;
line-height: 1.16;
letter-spacing: 0.02em;
color: $main-text-color;
&.link:hover,
  &.link:focus {
    color: $main-accent-color;
    @media screen and (max-width:767px) {      
      font-size: 34px;
line-height: 1.176;
    }
  }
@media screen and (min-width:768px) {
font-size: 12px;
}
@media screen and (min-width:1200px) {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  }
}

.header__mail,
.header__tel {
  transition: color 250ms $timing-function;
}
.header__icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  fill: currentColor;
}
.social {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.mobile__social-item{
  padding-bottom: 48px;

}
.mobile__social-item:not(:last-child) {
  margin-right: 20px;
}

.mobile__social-link{
  font-weight: 500;
font-size: 18px;
line-height: 1.22;
letter-spacing: 0.02em;
color: #2196F3;
}