/* --------------Footer--------------------------- */
.footer {
  background-color: $footer-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

/*-------------- contact links------------------- */

.footer__address-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $footer-contacts-color;
  transition: color 250ms $timing-function;
  &:hover,
  &:focus {
    color: $main-title-color;
  }
}

/*-------------------logo--------------------------*/
.footer__logo {
  display: inline-block;
  margin-bottom: 20px;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  /*------add negative word-spacing to bring letters together----------*/
  word-spacing: -5px;
}
.footer__contact-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer__web {
  color: $main-accent-color;
}
.footer__studio {
  color: $main-title-color;
}

/* --------------- */
.footer-links {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer__address {
  display: flex;
  flex-direction: column;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
}
/* ---- */

.footer-social {
  display: flex;
  flex-direction: column;
  /* margin-left: 70px; */
  /* padding-top: 12px; */
}
.footer__social-title {
  margin-bottom: 20px;
  color: $main-title-color;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer__social-list {
  display: flex;
}

.footer__social-item {
  width: 44px;
  height: 44px;
  & + & {
    margin-left: 10px;
  }
}

.footer__social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  color: $social-network-accent-color;
  transition: background-color 250ms $timing-function;
  &:hover,
  &:focus {
    color: $main-title-color;
    background-color: $main-accent-color;
  }
}

.footer__social-icon {
  fill: currentColor;
}

/* ----------------------footer--email--form--------------- */

.footer__email-send {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__email-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $main-title-color;
}
.footer__email-input {
  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  /* outline: none; */
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;

  letter-spacing: 0.03em;
  padding: 15px 16px;
  &::placeholder {
    padding: 15px 16px;

    font-size: 16px;
    line-height: 1.25;

    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: $main-title-color;

  align-self: center;

  border-radius: 4px;
  border: 1px solid $second-button-color;
  border-color: transparent;
  transition: box-shadow 250ms $timing-function;

  margin-left: 12px;
  background-color: $second-button-color;
  &:focus,
  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.footer__icon-send {
  margin: 13px 8px 13px 10px;
}
