/* --------------------------------Header--------------------------------------------- */
.header {
  position: relative;
  background-color: $header-color;
  border-bottom: 1px solid #ececec;
  max-width: 1600px;
  height: 60px;
  @media screen and (min-width: 760px) {
    height: 80px;
  }
  margin: 0 auto;
}

.nav-holder {
  // min-height: 60px;
  // max-height: 80px;
  display: flex;
  align-items: center;
  // justify-content: flex-end;

  .header__navigation {
    display: flex;
    /* выравниваем относительно поперечной оси, то есть высоты*/
    align-items: center;
    /*растягиваем по нужным сторонам  */
    justify-content: center;
  }

  .header__logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    word-spacing: -6px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .header__web {
    color: $main-accent-color;
  }
  .header__studio {
    color: $logo-color;
  }

  // .menu-button {
  //   display: inline-flex;
  //   margin: 0;
  //   padding: 0;
  //   border: none;
  //   background-color: transparent;
}

// take the cross from the flow
// .menu-button .icon-cross {
//   display: none;
// }

// when mobile-button is open make icon-cross to be a block
// .menu-button .is-open .icon-cross {
//   display: block;
// }

// .menu-button .is-open .icon-menu {
//   display: none;
// }

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  @media (min-width: 768px) {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
.menu-container {
  // position: absolute;
  // top: 100%;
  // left:0;
  // width:100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $secondary-background-color;
  padding: 48px 40px;
  text-align: center;
  font-size: 40px;
  z-index: 999;
  // hide
  transform: translateX(100%);
  transition: transform 250ms var($timing-function);
}
.menu-container .is-open {
  transform: translateX(0);
}

// their menu
//  .mobile-menu {
//   padding: 0;
//   margin: 0;
//   list-style: none;
// }

// .mobile-menu .link {
//   display: block;
//   padding: 10px;
//   color: #fff;
//   text-decoration: none;
// }

// menu
.header__list {
  display: flex;
  margin-left: 93px;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

/* очистка крайней геометрии: один из вариантов .header-item: last child {
  margin-right: 0;/* .header-item+header-item{
  margin-left: 40px; или как я сделала  */
.header__item:not(:last-child) {
  margin-right: 40px;
}

/* ссылка - строчный элемент, чтобы работали паддинги, надо сделать ее блочной или строчно-блочной, но там тогда зазор справа */
.header__link {
  /* geometry */
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  /* font + stiles  */
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $title-color;
  /* decore */
  position: relative;
  transition: color 250ms $timing-function;
  &:hover,
  &:focus {
    color: $main-accent-color;
  }
  &.underline::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: $main-accent-color;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

// contacts

.header__contacts-list {
  margin-left: auto;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.header__contacts {
  /* padding-top: 32px;
  padding-bottom: 32px; */
  display: flex;
  align-items: center;
  & + & {
    margin-left: $project-item-gap;
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.header__contacts-list .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $main-text-color;
  &.link:hover,
  &.link:focus {
    color: $main-accent-color;
  }
}

.header__mail,
.header__tel {
  transition: color 250ms $timing-function;
}
.header__icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  fill: currentColor;
}
