/*------------------------------------------Portfolio: Projects---------------------------------------- */
.portfolio__title {
  display: none;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * #{$project-item-gap});
  margin-top: calc(-1 * #{$project-item-gap});
}

.projects__item {
  flex-basis: calc(100% / 3 - #{$project-item-gap});
  margin-left: $project-item-gap;
  margin-top: $project-item-gap;
  outline: 1px solid $card-border-color;
  background-color: $secondary-background-color;
  transition: box-shadow 250ms $timing-function;
  /* overflow: hidden; */
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  /* при ховере на projects-item примени на ..description эти стили */
  &:hover .projects__item-description,
  &:focus .projects__item-description {
    opacity: 1;
    transform: translateY(0);
  }
}
.projects__overlay {
  position: relative;
  top: 0;
  left: 0;
  /* hides excess overlay */
  overflow: hidden;
}

.projects__img {
  display: block;
  max-width: 100%;
  /* height: auto; */
}
.projects__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $title-color;
}

.projects__text {
  margin-top: 4px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: $main-text-color;
  overflow: auto;
}

.projects__content {
  padding: 20px 24px;
}

/* overlay & text  */
.projects__item-description {
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  /* unlike display we can add animation to opacity   */
  opacity: 0;
  transition: transform 250ms $timing-function;
  transform: translateY(100%);
}

.projects__item-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: $main-title-color;
  text-align: left;
  width: 370px;
  height: auto;
  padding: 63px 24px;
}
