/* -----------------specialities----------- */

.specialities__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * #{$project-item-gap});
  margin-top: calc(-1 * #{$project-item-gap});
}

.specialities__item {
  flex-basis: calc((100% / 3) - #{$project-item-gap});
  margin-left: $project-item-gap;
  margin-top: $project-item-gap;
  position: relative;
  /* top: 0;
  left: 0; */
}

/* --- */
.specialities__item-lable {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
}

.specialities__item-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $main-title-color;
}
