/* -------------Our Team--------------- */
.team {
  background-color: $background-section;
}

.team__list {
  display: flex;
  /* flex-wrap: wrap; */
  margin-left: calc(-1 * #{$project-item-gap});
  margin-top: calc(-1 * #{$project-item-gap});
}

.team__card {
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.team__item {
  background-color: $secondary-background-color;
  outline: 1px solid $card-border-color;
  border-radius: 4px;
  margin-top: $project-item-gap;
  margin-left: $project-item-gap;
}
.team__person {
  margin-top: 0px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-color;
}
.team__text {
  margin-top: 0;
  margin-bottom: 0px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: $main-text-color;
}

.team__social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.team__social-item {
  width: 44px;
  height: 44px;
  & + & {
    margin-left: 10px;
  }
}

.team__social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $secondary-background-color;
  color: $social-network-main-color;
  transition: color 250ms $timing-function,
    background-color 250ms $timing-function;
  &:hover,
  &:focus {
    color: $social-network-accent-color;
    background-color: $main-accent-color;
  }
}
.team__social-icon {
  fill: currentColor;
}
