/* --------Переменные $ variables----------------- */
$main-title-color: #ffffff;
$title-color: #212121;
$main-text-color: #757575;
$main-accent-color: #2196f3;
$logo-color: #000000;
$footer-contacts-color: #ffffff99;

$secondary-background-color: #ffffff;
$header-color: #ffffff;
$footer-color: #2f303a;
$background-section: #f5f4fa;
$first-button-color: #f5f4fa;
$second-button-color: #2196f3;
$card-border-color: #eeeeee;
$project-item-gap: 30px;
$social-network-main-color: #afb1b8;
$social-network-accent-color: #ffffff;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
